        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/index.html"><img src="/assets/img/OneDevWhite.png" alt="OneDev"id="navbar-logo"/></a>
                <button class="navbar-toggler" id="navbar-toggler" type="button" aria-label="Toggle navigation">
                    Menu <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarLG">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                Industrias
                            </a>
                            <div class="dropdown-menu custom-dropdown mega-menu p-3">
                                <div class="w-100 p-0">
                                    <h6 class="dropdown-header">Industrias</h6>
                                    <a class="dropdown-item" href="/pages/industrias/logistica.html#telecomunicaciones">Telecomunicaciones</a>
                                    <a class="dropdown-item" href="/pages/industrias/logistica.html#mantenimiento">Mantenimiento y Reparación</a>
                                    <a class="dropdown-item" href="/pages/industrias/logistica.html#logistica">Logística y Transporte</a>
                                    <a class="dropdown-item" href="/pages/industrias/logistica.html#servicios-campo">Servicios de Campo</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <div class="dropdown-menu custom-dropdown mega-menu p-3">
                                <div class="w-100 p-0">
                                    <h6 class="dropdown-header">Servicios</h6>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#redes">Redes de Voz y Datos</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#cableado">Cableado Estructurado</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#videovigilancia">Videovigilancia</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#control">Control de Accesos Físico</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#switching">Switching, Routing y Firewalls</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#videoconferencia">Salas de Videoconferncia</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#sites">Centros de Datos</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#soporte">Soporte Técnico</a>
                                    <a class="dropdown-item" href="/pages/servicios/consultoria.html#renta">Venta y Arrendamiento de Equipo Tecnológico</a>
                                </div>
                            </div>  
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                Soluciones
                            </a>
                            <div class="dropdown-menu custom-dropdown mega-menu p-3">
                                <div class="w-100 p-0">
                                    <h6 class="dropdown-header">Soluciones</h6>
                                    <a class="dropdown-item" href="/pages/soluciones/servimap.html">ServiMap</a>
                                    <a class="dropdown-item" href="/pages/soluciones/firmaDigital.html">Firma Digital Avanzada</a>
                                </div>
                            </div>  
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                                Nosotros
                            </a>
                            <div class="dropdown-menu custom-dropdown mega-menu p-3">
                                <div class="w-100 p-0">
                                    <h6 class="dropdown-header">Nosotros</h6>
                                    <a class="dropdown-item" href="/pages/nosotros/quienesSomos.html">Quiénes Somos</a>
                                    <a class="dropdown-item" href="/pages/nosotros/contacto.html">Contacto</a>
                                    <a class="dropdown-item" href="/pages/nosotros/bolsaDeTrabajo.html">Bolsa de Trabajo</a>
                                    <a class="dropdown-item" href="/pages/nosotros/privacidad.html">Aviso de Privacidad</a>
                                    <a class="dropdown-item" href="/pages/nosotros/ubicaciones.html">Ubicaciones</a>
                                </div>
                            </div>  
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0" id="menu-accordion">
                        <div class="card">
                            <div class="card-header d-flex align-items-center nav-item">
                                <a type="button" class="btn p-0 toggle-plus nav-link" data-bs-toggle="collapse" data-bs-target="#collapseIndustrias" aria-expanded="true" aria-controls="collapseIndustrias">
                                    Industrias <span style="font-size: 0.7rem;">⏷</span>
                                </a>
                            </div>

                            <div class="collapse" id="collapseIndustrias" data-bs-parent="#menu-accordion">
                                <div class="w-100 p-0">
                                    <a class="dropdown-item p-2" href="/pages/industrias/telecomunicaciones.html">Telecomunicaciones</a>
                                    <a class="dropdown-item p-2" href="/pages/industrias/mantenimiento.html">Mantenimiento y Reparación</a>
                                    <a class="dropdown-item p-2" href="/pages/industrias/logistica.html">Logística y Transporte</a>
                                    <a class="dropdown-item p-2" href="/pages/industrias/servDeCampo.html">Servicios de Campo</a>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header d-flex align-items-center nav-item">
                                <a type="button" class="btn p-0 toggle-plus nav-link" data-bs-toggle="collapse" data-bs-target="#collapseServicios" aria-expanded="true" aria-controls="collapseServicios">
                                    Servicios <span style="font-size: 0.7rem;">⏷</span>
                                </a>
                            </div>

                            <div class="collapse" id="collapseServicios" data-bs-parent="#menu-accordion">
                                <div class="w-100 p-0">
                                    <a class="dropdown-item p-2" href="/pages/servicios/consultoria.html">Consultoría</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/rentaEquipoTecnico.html">Renta y Arrendamiento de Equipo Tecnológico</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/disenoRedes.html">Diseño, Implementación y Configuración de Redes</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/videovigilancia.html">Sistemas de Videovigilancia</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/controlAccesos.html">Control de Accesos Físico</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/cableadoEstructurado.html">Cableado Estructurado</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/switching.html">Configuración Avanzada de Switching, Routing y Firewalls</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/centrosDeDatos.html">Diseño, Adecuación y Mantenimiento de Centros de Datos</a>
                                    <a class="dropdown-item p-2" href="/pages/servicios/videconferencia.html">Diseño y Equipamiento de Salas de Videoconferncia</a>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header d-flex align-items-center nav-item">
                                <a type="button" class="btn p-0 toggle-plus nav-link" data-bs-toggle="collapse" data-bs-target="#collapseSoluciones" aria-expanded="true" aria-controls="collapseSoluciones">
                                    Soluciones <span style="font-size: 0.7rem;">⏷</span>
                                </a>
                            </div>

                            <div class="collapse" id="collapseSoluciones" data-bs-parent="#menu-accordion">
                                <div class="w-100 p-0">
                                    <a class="dropdown-item p-2" href="/pages/soluciones/servimap.html">ServiMap</a>
                                    <a class="dropdown-item p-2" href="/pages/soluciones/firmaDigital.html">Firma Digital Avanzada</a>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header d-flex align-items-center nav-item">
                                <a type="button" class="btn p-0 toggle-plus nav-link" data-bs-toggle="collapse" data-bs-target="#collapseNosotros" aria-expanded="true" aria-controls="collapseNosotros">
                                    Nosotros <span style="font-size: 0.7rem;">⏷</span>
                                </a>
                            </div>

                            <div class="collapse" id="collapseNosotros" data-bs-parent="#menu-accordion">
                                <div class="w-100 p-0">
                                    <a class="dropdown-item p-2" href="/pages/nosotros/quienesSomos.html">Quiénes Somos</a>
                                    <a class="dropdown-item p-2" href="/pages/nosotros/contacto.html">Contacto</a>
                                    <a class="dropdown-item p-2" href="/pages/nosotros/bolsaDeTrabajo.html">Bolsa de Trabajo</a>
                                    <a class="dropdown-item p-2" href="/pages/nosotros/privacidad.html">Aviso de Privacidad</a>
                                    <a class="dropdown-item p-2" href="/pages/nosotros/ubicaciones.html">Ubicaciones</a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>